<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </configSections>
    <system.identityModel>
        <identityConfiguration>
            <claimsAuthenticationManager type="Claims.WG.NET.CustomClaimsAuthManager, Claims.WG.NET"/>
        </identityConfiguration>
    </system.identityModel>
</configuration>